body {
  background-color: #e0e0d; 
}
a:hover { 
  color: red
}
h1,h2,h3 {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
}
h1.title {
  display: table;
  margin: auto;
  background-color: #afc4d6;
  border-width: 4px;
  border-style: outset;
  border-color: #9fd1ff;
  padding: 5px 8px;
  letter-spacing: -.025em;
} 
legend {
  font-weight: bold;
  color: black;
  background-color: #afc4d6;
  border: 1px solid #1a55bf;
  padding: 3px 5px;
  border-radius: 3px;
}
fieldset {
  border-radius: 6px;
  display: block;
}
input, textarea {
  background-color: #ecedf2;
  text-align: left;
}

input[type="checkbox"] {
  background-color: transparent;  /* Otimização para internet explorer */
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  background-color: #9fd1ff;
}
.error {
  color: red;
  font-weight: bold;
}
